<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sufee Admin - HTML5 Admin Template</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">
    <!--<link rel='stylesheet' href ="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">-->
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="/assets/css/cs-skin-elastic.css">
    <!--<link rel="stylesheet" href="/assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="/assets/scss/style.css">
    <!--<link href="/assets/css/lib/vector-map/jqvmap.min.css" rel="stylesheet">-->

    

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    
    
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    
    <!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.bootstrap4.min.css">-->
    
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
    
    
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css">
    
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
    
</head>
<body>
  <a href="/admin/index">
    <div id="back">
    </div></a>
    <script src="/assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/main.js"></script>


    <script src="/assets/js/lib/chart-js/Chart.bundle.js"></script>
    <script src="/assets/js/dashboard.js"></script>
    <script src="/assets/js/widgets.js"></script>
    <script src="/assets/js/lib/vector-map/jquery.vmap.js"></script>
    <script src="/assets/js/lib/vector-map/jquery.vmap.min.js"></script>
    <script src="/assets/js/lib/vector-map/jquery.vmap.sampledata.js"></script>
    <script src="/assets/js/lib/vector-map/country/jquery.vmap.world.js"></script>
    
    
  <style>
    body {
      width: 100%;
      height: 100%;
    }
    div#back{
      background-image: url(/images/main_full_shot.png);
      position:fixed;
      padding:0;
      margin:0;

      top:0;
      left:0;

      width: 100%;
      height: 100%;
      /* Center and scale the image nicely */
      /*background-position: center;*/
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
</body>


     <script>
    //     ( function ( $ ) {
    //         "use strict";

    //         jQuery( '#vmap' ).vectorMap( {
    //             map: 'world_en',
    //             backgroundColor: null,
    //             color: '#ffffff',
    //             hoverOpacity: 0.7,
    //             selectedColor: '#1de9b6',
    //             enableZoom: true,
    //             showTooltip: true,
    //             values: sample_data,
    //             scaleColors: [ '#1de9b6', '#03a9f5' ],
    //             normalizeFunction: 'polynomial'
    //         } );
    //     } )( jQuery );
    $(document).ready(function() {
      $("#example").dataTable();
    });
    $(document).ready(function() {
        $("#example2").dataTable();
    });
    $(document).ready(function() {
        $("#example3").dataTable();
    });
    // </script>



</html>
